**/*.filters
**/*.vcxproj
**/*.dir
*.msi
*.wixobj
*.wixpdb
**/*~
**/moc_*.cpp
**/moc_*.cpp_parameters
**/ui_*ui.h
CMakeCache.txt
**/CMakeFiles
**/cmake_install.cmake
*.p12
.vs
DBPASS.*
**/Debug
**/Release
**/RelWithDebInfo
**/*.depends
**/qrc_*.cpp
